#content {
  margin-left: 25%;
  margin-right: 25%;
  font-family: "Noto Sans", Roboto, Arial, sans-serif;
}

.message {
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
  width: calc(50% - 32px);
  height: calc(25vw - 32px);
  border-radius: 5px;
}
