#content {
  margin-left: 25%;
  margin-right: 25%;
  font-family: "Noto Sans", Roboto, Arial, sans-serif;
}

.message {
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
  width: calc(50% - 32px);
  height: 15vw;
  border-radius: 5px;
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

small {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
